<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- adapted from https://codepen.io/ehermanson/pen/KwKWEv -->
  <div class='page-container'>
    <div class='content-wrapper'>
      <div class="form">

        <ul class="tab-group">
          <li class="tab active"><a href="#signup">Sign Up</a></li>
          <li class="tab"><a href="#login">Log In</a></li>
        </ul>

        <div class="tab-content">
          <div id="signup">
            <h1>Sign Up Now!</h1>

            <form action="/" method="post">

              <div class="field-wrap">
                <label>
                  Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
              </div>

              <div class="field-wrap">
                <label>
                  Set A Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
              </div>

              <button type="submit" class="button button-block"/>Get Started</button>

            </form>

          </div>

          <div id="login">
            <h1>Welcome Back!</h1>

            <form action="/" method="post">

              <div class="field-wrap">
                <label>
                  Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
              </div>

              <div class="field-wrap">
                <label>
                  Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
              </div>

              <button class="button button-block"/>Log In</button>

            </form>

          </div>

        </div>

      </div>
    </div>

        <footer>
          <img src="/img/AppLogo210.png" alt="Apperture Labs logo" height="30">
        </footer>
      </div>

      <script src="/js/login.js"></script>

    </body>

    </html>
