<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <!-- adapted from https://codepen.io/ehermanson/pen/KwKWEv -->
    <div class="form">

     <ul class="tab-group">
       <li class="tab active"><a href="#signup">Sign Up</a></li>
       <li class="tab"><a href="#login">Log In</a></li>
     </ul>

     <div class="tab-content">
       <div id="signup">
         <h1>Sign Up Now!</h1>

         <form action="/" method="post">

         <div class="field-wrap">
           <label>
             Email Address<span class="req">*</span>
           </label>
           <input type="email"required autocomplete="off"/>
         </div>

         <div class="field-wrap">
           <label>
             Set A Password<span class="req">*</span>
           </label>
           <input type="password"required autocomplete="off"/>
         </div>

         <button type="submit" class="button button-block"/>Get Started</button>

         </form>

       </div>

       <div id="login">
         <h1>Welcome Back!</h1>

         <form action="/" method="post">

           <div class="field-wrap">
           <label>
             Email Address<span class="req">*</span>
           </label>
           <input type="email"required autocomplete="off"/>
         </div>

         <div class="field-wrap">
           <label>
             Password<span class="req">*</span>
           </label>
           <input type="password"required autocomplete="off"/>
         </div>

         <button class="button button-block"/>Log In</button>

         </form>

       </div>

     </div><!-- tab-content -->

   </div> <!-- /form -->

   <div class="footer">
     <img src="static/img/AppLogo210.png" alt="Apperature Labs logo" height="30">
   </div>

   <script>
   const inputs = document.querySelectorAll('.form input, textarea');
   Array.from(inputs).forEach(function (txt) {
     txt.addEventListener('keyup', function (event) {
       label = this.previousElementSibling;
       if (this.value === '') {
         label.classList.remove('active');
         label.classList.remove('highlight');
       } else {
         label.classList.add('active');
         label.classList.add('highlight');
       }
     });
     txt.addEventListener('blur', function (event) {
       label = this.previousElementSibling;
       if (this.value === '') {
         label.classList.remove('active');
       }
       label.classList.remove('highlight')
     });
     txt.addEventListener('focus', function (event) {
       label = this.previousElementSibling;
       if (this.value === '') {
         label.classList.remove('highlight');
       } else {
         label.classList.add('highlight');
       }
     });
   });

   const links = document.querySelectorAll('.tab a');
   Array.from(links).forEach(function (a) {
     a.addEventListener('click', function (event) {
       event.preventDefault();
       toMakeInactive = this.parentNode.parentNode.children;
       Array.from(toMakeInactive).forEach(function (elt) {
         elt.classList.remove('active');
       });
       this.parentNode.classList.add('active');
       target = this.getAttribute("href");
       toHide = document.querySelectorAll('.tab-content > div')
       Array.from(toHide).forEach(function (elt) {
         if (!(elt.matches(target))) {
           elt.style.display = 'none';
         }
       });
       document.querySelector(target).style.display = 'block';
     });
   });
   </script>

</body>

</html>
