#main-menu .nav-bar {
  list-style:none;
  margin-top: 40px;
}
#main-menu .nav-bar li {
	color: #white;
  padding:0 10px;
   display:table-cell;
   vertical-align: middle;
   background-color: #0099FF;
   border-right:1px solid white;
}
#main-menu .nav-bar li:first-of-type {
   background-color: white;
}

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  color: white;
}

#main-menu .nav-bar li:hover {
  background-color:#a7d4fe;
  border-bottom:2px solid #1a6cfc;
}

#main-menu .nav-bar li img {
	max-width: 200px;
}
.nav-button {
  font-weight: bold;
}
.active {
	border-bottom:2px solid #1a6cfc;
}
.alert {
  color: red;
  text-align: center;
  font-weight: bold;
}
* {
  margin: 0;
}
footer {
  background: white;
  text-align: center;
  height: 30px;
  margin-top: -30px;
}
html, body {
  height: 100%;
  margin: 0;
}
.outer-wrap {
  min-height: 100%;
}
.inner-wrap {
  padding: 20px;
  padding-bottom: 30px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
  /*background: #c1bdba;*/
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #0099FF;
  transition:.5s ease;
}
a:hover {
  color: #1d9be2;
}
.form {
  background: rgba(19, 35, 47, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}
.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}
.tab-group .active a {
  background:#0099FF;
  color:#ffffff;
}
.tab-group li a:hover {
  background:#1d9be2;
  color:#ffffff;
}
.tab-group li a {
  display:block;
  text-decoration:none;
  padding:15px;
  background:rgba(160, 179, 176, .25);
  color:#a0a2b3;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:.5s ease;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-content > div:last-child {
  display:none;
}
h1 {
  text-align:center;
  color:#ffffff;
  font-weight:300;
  margin:0 0 40px;
}
label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba(255, 255, 255, .5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
}
label .req {
  margin:2px;
  color:#0099FF;
}
label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}
label.active .req {
  opacity:0;
}
label.highlight {
	color:#ffffff;
}
input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0a2b3;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea.focus {
  outline:0;
  border-color:#0099FF;
}
textarea {
  border:2px solid #a0a2b3;
  resize: vertical;
}
.field-wrap {
  position:relative;
  margin-bottom:40px;
}
.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#0099FF;
  color:#ffffff;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background:#1d9be2;
}
.button-block {
  display:block;
  width:100%;
}
.forgot {
  margin-top:-20px;
  text-align:right;
}
/****** Habit Page ****************/
zg-button {
	background: var(--zg-button-background_custom);
	border: var(--zg-button-border_custom);
	border-radius: 4px;
	box-shadow: var(--zg-button-box-shadow_custom);
	color: var(--zg-button-color_custom, --zg-button-color);
	padding: var(--zg-button-padding, 7px 9px);
	transition: background .1s;
}
zg-button:hover {
	--zg-icon-color: var(--zg-button-icon-background_custom_hover, #fff);
	background: var(--zg-button-background_custom_hover);
	border: var(--zg-button-border_custom_hover);
	box-shadow: var(--zg-button-box-shadow_custom_hover);
	color: var(--zg-button-color_custom_hover);
	transition: background-color var(--zg-button-transition_speed, var(--theme-transition_speed));
}
#content {
	max-width: 1000px;
	margin: auto;
}
#loader-page {
	opacity:    0.5;
	background: #000;
	width:      100%;
	height:     100%;
	z-index:    5;
	top:        0;
	left:       0;
	position:   fixed;
}
#loader-spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	position: absolute;
	left: 45%;
	top: 40%;
	z-index: 10;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#new-habit {
	margin-right:10px;
	margin-top:10px;
	font-family: Roboto, verdana, sans-serif;
	font-size:14px;
	font-weight: 400;
	width:200px;
	background-color:white;
	display:inline-block;
	color: black;
}

#add {
	padding: 6px;
	box-shadow: 0px 0px 4px grey;
	background-color: white;
	border: none;
	font-family: Roboto, verdana, sans-serif;
	font-size:14px;
	font-weight: 400;
	display:inline-block;
}

#add:hover {
	background-color: #0099FF;
	color: white;
	cursor:pointer;
}

zg-caption {
    background-color: #0099FF !important;
}

#content {
	margin-top: 20px;
}

h2 {
    background-color: #1a6bfb;
    color: white;
    padding: 5px;	
}

#zing-placeholder {
	padding-top:15px;
}
/***************************/
