<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Log Habits</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://cdn.zinggrid.com/dev/zinggrid-dev.min.js" defer></script>
  <script src="static/js/log.js"></script>
</head>

<body>
  <div class='outer-wrap'>
    <div class="inner-wrap">
      <nav id="main-menu">
        <ul class="nav-bar">
          <li><img src="/static/img/habit_tracker_logo.jpg"></img></li>
          <li class="active"><a class="nav-button" href="/habits">Habit Log</a></li>
          <li><a class="nav-button" href="/progress">Progress</a></li>
          <li><a class="nav-button" href="/logout">Logout</a></li>
        </ul>
      </nav>
      <div id="content">
        <zing-grid
        caption="Log Habit"
        layout="row"
        layout-controls="disabled"
		sort>
        <zg-colgroup>
          <zg-column type="custom" header="Log Habit">
            <zg-button class="log-button">
              <zg-icon name="submitrecord"></zg-icon><span>Log</span>
            </zg-button>
          </zg-column>
          <zg-column index="habit"></zg-column>
          <zg-column index="streak" renderer="render_streak">
          </zg-column>
          <zg-column type="custom" header="Delete Habit" editor="false">
            <zg-button action="removerecord">
              <span>Delete Habit</span>
            </zg-button>
          </zg-column>
        </zg-colgroup>
      </zing-grid>
      <div id="add-habit">
        <input id="new-habit" type="text" placeholder="Enter new habit..."></input><button id="add">Create New Habit</button>
      </div>
    </div>
    <div id="loader-page">
    </div>
    <div id="loader-spinner"></div>
  </div>
</div>

<footer>
  <img src="/static/img/AppLogo210.png" alt="Apperature Labs logo" height="30">
</footer>

</body>

</html>
