<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Log Habits</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.zinggrid.com/dev/zinggrid-dev.min.js" defer></script>
  <script src="static/js/habit_manager.js"></script>
</head>

<body>
    <div class='page-wrap'>
      <nav id="main-menu">
        <!-- adapted from https://codepen.io/Cheesetoast/pen/qACsJ -->
        <ul class="nav-bar">
          <li>Habit Tracker</li>
          <li class="active"><a class="nav-button" href="#">Log</a></li>
          <li><a class="nav-button" href="#">Progress</a></li>
        </ul>
      </nav>
      <div id="content">
        <zing-grid
        caption="Log Habit"
        editor="modal"
        layout="row"
        layout-controls="disabled"
        viewport-stop>
        <zg-colgroup>
          <zg-column type="custom" header="Log Habit">
            <zg-button class="log-button">
              <zg-icon name="submitrecord"></zg-icon><span>Log</span>
            </zg-button>
          </zg-column>
          <zg-column index="habit"></zg-column>
          <zg-column index="streak" renderer="render_streak">
          </zg-column>
          <zg-column type="custom" header="Delete Habit" editor="false">
            <zg-button action="removerecord">
              <span>Delete Habit</span>
            </zg-button>
          </zg-column>
        </zg-colgroup>
      </zing-grid>
	<div id="add-habit">
		<input id="new-habit" type="text" placeholder="Enter new habit..."></input><button id="add">Create New Habit</button>
	</div>
    </div>
    <div id="loader-page">
    </div>
    <div id="loader-spinner"></div>
  </div>

  <footer class="site-footer">
    <img src="/static/img/AppLogo210white.png" alt="Apperature Labs logo" height="30">
  </footer>

</body>

</html>
