<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Progress</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script src="/static/js/progress.js"></script>
</head>

<body>
  <div class='page-container'>
    <div class='content-wrapper'>
      <nav id="main-menu">
        <!-- adapted from https://codepen.io/Cheesetoast/pen/qACsJ -->
        <ul class="nav-bar">
          <li>Habit Tracker</li>
          <li><a class="nav-button" href="/habits">Habit Log</a></li>
          <li class="active"><a class="nav-button" href="/progress">Progress</a></li>
          <li><a class="nav-button" href="/logout">Logout</a></li>
        </ul>
      </nav>
      <div id="content">
		  <div id="zing-placeholder">
		  </div>
	  </div>

    </div>

  </div>
  <footer>
    <img src="static/img/AppLogo210white.png" alt="Apperature Labs logo" height="30">
  </footer>

</body>

</html>
