<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Progress</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script src="/static/js/progress.js"></script>
</head>

<body>
  <div class="outer-wrap">
    <div class="inner-wrap">
      <nav id="main-menu">
        <ul class="nav-bar">
          <li><img src="/static/img/habit_tracker_logo.jpg"></img></li>
          <li><a class="nav-button" href="/habits">Habit Log</a></li>
          <li class="active"><a class="nav-button" href="/progress">Progress</a></li>
          <li><a class="nav-button" href="/logout">Logout</a></li>
        </ul>
      </nav>
      <div id="content">
	   <span>Select a habit to view progress: </span>
		<select id="habit-select">
		</select>
        <div id="zing-placeholder">
        </div>
      </div>

    </div>
  </div>

  <footer>
    <img src="static/img/AppLogo210.png" alt="Apperature Labs logo" height="30">
  </footer>

</body>

</html>
